@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EmpMen sample project</h1>
    <p>This is a example ASP.NET application that is about adding and managing employee for example there is jafar.</p>
    <p2>You can start managing in EmpMen tab</p2>
    <a class="nav-item" asp-controller="EmpMen">Or Click here</a>
</div>
